<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link ref="stylesheet" type="text/css" href="login.css"/>
  <style>
      body{
          font-family: sans-serif;         
      }
      #login{
        margin:0 auto;
          margin-top: 60px;
          width: 260px;
          height: 260px;
          text-align: center;
      }
      #diva{
          margin: 10%
      }
  </style>
</head>
<body>    
    <div id="login" class="panel-body">
        <div id="diva">
            <h3>LOGIN</h3>
            <form action="" class="">
                <input type="text" class="form-control" required="required" placeholder="用户名" name="u"></input> <br>
                <input type="password" class="form-control" required="required" placeholder="密码" name="p"></input> <br>
                <button class="btn btn-default" type="submit">登录</button> 
                <button class="btn btn-default" type="submit">注册</button>
            </form>
        </div>
    
    </div>        
</body>
</html>